<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".detailshops.Detailfood"
            android:label="Hotel Details"
            android:parentActivityName=".shops.FoodActivity"
            android:theme="@style/App" />
        <activity
            android:name=".shops.FoodActivity"
            android:label="Food Shops"
            android:parentActivityName=".RecycleviewActivity"
            android:theme="@style/App" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".activities.Navigation"
            android:theme="@style/App" />
        <activity
            android:name=".activities.Navigation"
            android:label="Settings"
            android:parentActivityName=".RecycleviewActivity"
            android:theme="@style/App" />
        <activity
            android:name=".detailemergency.Detailepolice"
            android:label="Profile"
            android:parentActivityName=".emergency.PoliceActivity"
            android:theme="@style/App" />
        <activity
            android:name=".emergency.PoliceActivity"
            android:label="Police Station"
            android:parentActivityName=".RecycleviewActivity"
            android:theme="@style/App" />
        <activity
            android:name=".detailsworkers.Detailelectric"
            android:label="Profile"
            android:parentActivityName=".workers.ElectriActivity"
            android:theme="@style/App" />
        <activity
            android:name=".RecycleviewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.VerifyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Signupnext2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SignupnextActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".onbord.OnbordActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".detailsworkers.Detailmechanic"
            android:label="Profile"
            android:parentActivityName=".workers.MechanicActivity"
            android:theme="@style/App" />
        <activity
            android:name=".workers.ElectriActivity"
            android:label="Electricians"
            android:parentActivityName=".GridView"
            android:theme="@style/App" />
        <activity
            android:name=".detailsworkers.Detailplumber"
            android:label="Profile"
            android:parentActivityName=".workers.PlumberActivity"
            android:theme="@style/App" />
        <activity
            android:name=".workers.PlumberActivity"
            android:label="Plumber"
            android:parentActivityName=".GridView"
            android:theme="@style/App" />
        <activity
            android:name=".workers.MechanicActivity"
            android:label="Mechanic"
            android:parentActivityName=".GridView"
            android:theme="@style/App" />
        <activity
            android:name=".GridView"
            android:label="Categories"
            android:parentActivityName=".RecycleviewActivity"
            android:theme="@style/App" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>